<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/detail.css">
    <title>Trang Chi Tiết</title>
</head>

<body>
    <div class="container-fluid">
        <header class="header">
            <div class="header_background">
                <div class="header_logo">
                    <img src="images/logo.png" class="img-fluid mx-auto d-block pt-3 pb-3" alt="">
                </div>
            </div>
            <nav class="nav nav_pc">
                <ul class="main-menu">
                    <li><a href=""> MASSAGEBAY </a>
                    </li>
                    <li><a href=""> DIỄN ĐÀN </a></li>
                    <li><a href=""> TIN TỨC </a></li>
                    <li><a href=""> COUNPON </a></li>
                    <li><a href=""> LIÊN HỆ </a></li>
                </ul>
            </nav>
            <div class="header_mobile">
                <label for="nav-moble-input" class="toggle">
                    <i class=" fa fa-bars"></i>
                    <span>MASSAGEBAY</span>
                </label>
            </div>
            <input type="checkbox" name="" class="nav_input" id="nav-moble-input">
            <label for="nav-moble-input" class="nav_overlay"></label>
            <nav class="nav_mobile">
                <label for="nav-moble-input" class="nav_mobile-close"><i class="fas fa-times"></i></label>
                <ul class="nav_mobile-list">
                    <li><a href=""> MASSAGEBAY </a>
                    </li>
                    <li><a href=""> DIỄN ĐÀN </a></li>
                    <li><a href=""> TIN TỨC </a></li>
                    <li><a href=""> COUNPON </a></li>
                    <li><a href=""> LIÊN HỆ </a></li>
                </ul>
            </nav>
        </header>
        <div class="container">
            <div class="breacumb pt-3">
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                        <li class="breadcrumb-item active" aria-current="page"><a href="#"> Tin tức</a> </li>
                        <li class="breadcrumb-item active" aria-current="page"><a href="#">Trong nước </a> </li>
                    </ol>
                </nav>
            </div>
            <div class="row">
                <div class="col-xl-9">
                    <div class="breacumb">
                        <nav style="--bs-breadcrumb-divider: '|';" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">06:57</a></li>
                                <li class="breadcrumb-item active" aria-current="page"><a href="#">26/08/2017</a> </li>
                            </ol>
                        </nav>
                    </div>
                    <div class="content">
                        <h2 class="content_title">CÒN NHIỀU RÀO CẢN TÂM LÝ VÀ CHÍNH SÁCH ĐỐI VỚI XE HYBRID </h2>
                        <div class="s-content">
                            Nếu năm 2010 có 289 xe, năm 2011 tăng lên 347, thì đến 2015 chỉ còn 131 xe, 2016 chỉ còn 84
                            và 3 tháng đầu năm 2017 vỏn vẹn 5 xe. Mặc dù một số DN ô tô đã đề nghị các cơ quan chức năng
                            cần xem xét ưu đãi thuế cho xe ô tô sử dụng động cơ Hybrid, nhưng Bộ Tài chính vẫn nói không
                            với đề nghị này.
                        </div>
                        <div class="s-content">
                            Bộ Tài chính cho rằng, Luật thuế Tiêu thụ đặc biệt (TTĐB) hiện hành quy định: xe ô tô chạy
                            bằng xăng kết hợp năng lượng điện, năng lượng sinh học, trong đó tỷ trọng xăng chiếm không
                            quá 70%
                        </div>
                        <img src="images/detail-content.jpg" class="img-fluid w-100 pt-3 pb-4" alt="">
                        <div class="s-content pb-3">
                            Xe Hybrid sử dụng 1 động cơ đốt trong, nhưng có dung tích xi lanh và công suất nhỏ. Điều này
                            giúp tiết kiệm nhiên liệu và giảm khí thải độc hại ra môi trường. Ngoài động cơ xăng, xe
                            Hybrid được trang bị 1 hoặc nhiều động cơ điện để hỗ trợ động cơ xăng, giúp xe tăng công
                            suất, cùng với đó là 1 pin nhiên liệu cỡ lớn để tích điện và cung cấp điện cho động cơ điện
                            hoạt động.
                        </div>
                        <div class="s-content">
                            Tái sử dụng năng lượng dư thừa là ưu điểm lớn nhất của xe Hybrid. Khi ô tô chạy trên đường,
                            cứ mỗi lần đạp phanh là năng lượng của xe bị thất thoát. Xe chạy càng nhanh, nhất là lao từ
                            trên dốc cao xuống, thì động năng của nó càng lớn cứ mỗi lần đạp phanh là
                        </div>
                    </div>
                    <div class="comment row mt-3">
                        <div class="col d-flex justify-content-start">
                            <div class=" comment_star ">
                                <a href="">
                                    <i class="fas fa-star"></i>
                                </a>
                                <a href="">
                                    <i class="fas fa-star"></i>
                                </a><a href="">
                                    <i class="fas fa-star"></i>
                                </a><a href="">
                                    <i class="fas fa-star"></i>
                                </a>
                                <a href="">
                                    <i class="fas fa-star"></i>
                                </a>
                            </div>
                            <div class="comment_share pt-1">
                                <script async defer crossorigin="anonymous"
                                    src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v7.0"
                                    nonce="w3Juu33G"></script>
                                <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/"
                                    data-width="" data-layout="button" data-action="like" data-size="small"
                                    data-share="true">
                                </div>
                            </div>
                            <div class="comment_image_zalo">
                                <a href="">
                                    <img src="images/Untitled-1.jpg" class="img-fluid" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div id="fb-root"></div>
                    <script async defer crossorigin="anonymous"
                        src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v12.0" nonce="WEnF8ODk"></script>
                    <div class="fb-comments" data-href="https://www.facebook.com/profile.php?id=100008554004618"
                        data-width="100%" data-numposts="5"></div>
                </div>
                <div class="col-xl-3 mt-2">
                    <div class="bg-black search">
                        <p class="text-search">TÌM KIẾM</p>
                        <form action="" class="form-search">
                            <p>Từ khóa</p>
                            <input type="text" class="form-control" placeholder="Từ khóa...">
                            <p>Thành phố</p>
                            <select name="" id="" class="form-select">
                                <option value="">--Chọn điểm đến--</option>
                            </select>
                            <div class="d-flex justify-content-between">
                                <div class="star">
                                    <p>Rasting</p>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                                <button type="submit"> <i class="fa fa-search"></i></button>
                            </div>
                        </form>
                    </div>
                    <div class="bg-black topic pb-1 mt-3">
                        <p class="topic_latest">CHỦ ĐỀ MỚI NHẤT</p>
                        <div class="row g-2 topic_tiem">
                            <div class="col-5">
                                <a href=""> <img src="images/detail-sidebar.jpg" class="w-100" alt=""></a>
                            </div>
                            <div class="col-7 topic_item-body">
                                <a href="">
                                    <h6>Khu du lịch sinh </h6>
                                </a>
                                <p>Ba Be eco hu du lịch sinh thái </p>
                            </div>
                        </div>
                        <div class="row g-2 topic_tiem">
                            <div class="col-5">
                                <a href=""> <img src="images/detail-sidebar.jpg" class="w-100" alt=""></a>
                            </div>
                            <div class="col-7 topic_item-body">
                                <a href="">
                                    <h6>Khu du lịch sinh </h6>
                                </a>
                                <p>Ba Be eco hu du lịch sinh thái </p>
                            </div>
                        </div>
                        <div class="row g-2 topic_tiem">
                            <div class="col-5">
                                <a href=""> <img src="images/detail-sidebar.jpg" class="w-100" alt=""></a>
                            </div>
                            <div class="col-7 topic_item-body">
                                <a href="">
                                    <h6>Khu du lịch sinh </h6>
                                </a>
                                <p>Ba Be eco hu du lịch sinh thái </p>
                            </div>
                        </div>
                        <div class="row g-2 topic_tiem">
                            <div class="col-5">
                                <a href=""> <img src="images/detail-sidebar.jpg" class="w-100" alt=""></a>
                            </div>
                            <div class="col-7 topic_item-body">
                                <a href="">
                                    <h6>Khu du lịch sinh </h6>
                                </a>
                                <p>Ba Be eco hu du lịch sinh thái </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 quangcao mt-3">
                        <a href=""> <img src="images/quangcao2.jpg" class="img-fluid w-100" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="news">
                <h1 class="new_title text-center pt-3">Tin tức mới nhất</h1>
                <img src="images/icon1.png" class="img-fluid mx-auto d-block" alt="">
                <div class="container">
                    <div class="row pt-4">
                        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                            <div class="new_item">
                                <div class="new_item_image">
                                    <a href="">
                                        <img src="images/item1.jpg" class="img-fluid w-100" alt=""></a>
                                </div>
                                <div class=" new_item_body">
                                    <a href="">
                                        <h6>NỔI BẬT TRÊN KHÔNG GIAN LÀNG QUÊ YÊN TĨNH,</h6>
                                    </a>
                                    <p>là một trong những khách sạn mới nhất của TRÀNG AN LUXURY là một trong những
                                        khách sạn mới nhất của </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                            <div class="new_item">
                                <div class="new_item_image">
                                    <a href="">
                                        <img src="images/item6.jpg" class="img-fluid w-100" alt="">
                                    </a>
                                </div>
                                <div class=" new_item_body">
                                    <a href="">
                                        <h6>NỔI BẬT TRÊN KHÔNG GIAN LÀNG QUÊ YÊN TĨNH,</h6>
                                    </a>
                                    <p>là một trong những khách sạn mới nhất của TRÀNG AN LUXURY là một trong những
                                        khách sạn mới nhất của </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                            <div class="new_item">
                                <div class="new_item_image">
                                    <a href="">
                                        <img src="images/item18.jpg" class="img-fluid w-100" alt="">
                                    </a>
                                </div>
                                <div class=" new_item_body">
                                    <a href="">
                                        <h6>NỔI BẬT TRÊN KHÔNG GIAN LÀNG QUÊ YÊN TĨNH,</h6>
                                    </a>
                                    <p>là một trong những khách sạn mới nhất của TRÀNG AN LUXURY là một trong những
                                        khách sạn mới nhất của </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <a href="" class="new_view_all d-flex justify-content-center"> <button>XEM TẤT CẢ</button></a>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="footer_top">
                <div class="container">
                    <div class="row ">
                        <div class="col-lg-3 col-md-6 col-sm-12 footer_top_page">
                            <h6>Về hotel84.com</h6>
                            <ul>
                                <li><a href="">Trang chủ</a></li>
                                <li><a href=""> Giới thiệu</a></li>
                                <li><a href=""> Điều khoản sử dụng</a></li>
                                <li><a href=""> Thông tin cá nhân</a></li>
                                <li><a href=""> Tin tức công ty</a></li>
                                <li><a href=""> Sitemap</a></li>
                                <li><a href="">Hướng dẫn sử dụng</a></li>
                                <li><a href=""> Liên hệ</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 footer_top_post">
                            <h6>Về hotel84.com</h6>
                            <ul>
                                <li><a href=""> Viết bài PR quảng cáo khách sạn </a></li>
                                <li><a href=""> Tư vấn quảng bá khách sạn</a></li>
                                <li><a href=""> Đặt phòng khách sạn</a></li>
                                <li><a href=""> Đặt phòng du thuyền</a></li>
                                <li><a href=""> Khách sạn tuyển dụng</a></li>
                                <li><a href=""> Thuê xe du lịch</a></li>
                                <li><a href=""> Sản phẩm cho khách sạn</a></li>
                                <li><a href=""> Dịch vụ Quảng cáo Khách sạn</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 footer_top_contact d-flex justify-content-end">
                            <ul>
                                <li><a href="">Quảng bá khách sạn Việt Nam</a></li>
                                <li><a href=""> Địa chỉ: 38B ngách 6/31/5 Đặng Văn Ngữ, Đống Đa, Hà Nội</a></li>
                                <li><a href=""> Tel: 024 39958520 ; Mobile: 0903215458 (không liên hệ đặt phòng ở
                                        đây)</a></li>
                                <li><a href=""> Email: info@hotel84.com</a></li>
                                <li><a href=""> Website khách sạn: http://www.hotel84.com</a></li>
                                <li><a href=""> Website Vietnam hotels: http://www.hotels84.com</a></li>
                                <li><a href=""> Đối tác khách sạn</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer_bottom text-center">
                <p>Địa chỉ: số nhà 38b ngách 6/31/5 Đặng Văn Ngữ, phường Phương Liên, quận Đống Đa,
                    Hà Nội</p>
                <p>
                    Điện thoại: 024 35735928 - 39958520 ; Fax: 024 35735928 ; Di động: 0903215458</p>
                <p>
                    Email: info@hotel84.com ; Website: www.hotel84.com ; www.hotels84.com ; www.vietnamtradefair.com ;
                    www.halongtravelguide.com</p>
                <p>
                    Số ĐKKD: 0103003424; Ngày cấp: 02/1/2004; Giám đốc: Phan Văn Thu</p>
            </div>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="js/main.js"></script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
-->
</body>

</html>