<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/index.css">
    <title>Home</title>
</head>

<body>

    <div class="container-fluid">
        <header class="header">
            <div class="header_background">
                <div class="header_logo">
                    <img src="images/logo.png" class="img-fluid mx-auto d-block pt-3 pb-3" alt="">
                </div>
            </div>
            <nav class="nav nav_pc">
                <ul class="main-menu">
                    <li><a href=""> MASSAGEBAY </a>
                    </li>
                    <li><a href=""> DIỄN ĐÀN </a></li>
                    <li><a href=""> TIN TỨC </a></li>
                    <li><a href=""> COUNPON </a></li>
                    <li><a href=""> LIÊN HỆ </a></li>
                </ul>
            </nav>
            <div class="header_mobile">
                <label for="nav-moble-input" class="toggle">
                    <i class=" fa fa-bars"></i>
                    <span>MASSAGEBAY</span>
                </label>
            </div>
            <input type="checkbox" name="" class="nav_input" id="nav-moble-input">
            <label for="nav-moble-input" class="nav_overlay"></label>
            <nav class="nav_mobile">
                <label for="nav-moble-input" class="nav_mobile-close"><i class="fas fa-times"></i></label>
                <ul class="nav_mobile-list">
                    <li><a href=""> MASSAGEBAY </a>
                    </li>
                    <li><a href=""> DIỄN ĐÀN </a></li>
                    <li><a href=""> TIN TỨC </a></li>
                    <li><a href=""> COUNPON </a></li>
                    <li><a href=""> LIÊN HỆ </a></li>
                </ul>
            </nav>
        </header>
        <div class="container">
            <div class="row mt-3">
                <div class="col-xl-9">
                    <div class="row">
                        <div class="col-xl-6">
                            <h1 class="title-spa">Spa uy tín</h1>
                        </div>
                        <div class="col-xl-6 mt-2">
                            <nav>
                                <ul class="nav nav-tabs">
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" href="#">MIỀN BẮC</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">MIỀN TRUNG</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">MIỀN NAM</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <hr class="tab-hr">
                    </div>
                    <div class="content mt-3">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                <div class="card">
                                    <a href=""> <img src="images/item1.jpg" class="img-fluid w-100" alt="..."></a>
                                    <div class="card_header d-flex justify-content-between">
                                        <div class="card_title">
                                            <a href="">
                                                <h6> SPA LÂM ANH</h6>
                                            </a>
                                            <div class="star">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                        </div>
                                        <div class="card_city">
                                            <p>Bình Dương</p>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">Nổi bật trên không gian làng quê yên tĩnh, TRÀNG AN LUXURY
                                            là
                                            một trong những khách sạn mới nhất của
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                <div class="card">
                                    <a href=""> <img src="images/item2.jpg" class="img-fluid w-100" alt="..."></a>
                                    <div class="card_header d-flex justify-content-between">
                                        <div class="card_title">
                                            <a href="">
                                                <h6> SPA LÂM ANH</h6>
                                            </a>
                                            <div class="star">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                        </div>
                                        <div class="card_city">
                                            <p>Bình Dương</p>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">Nổi bật trên không gian làng quê yên tĩnh, TRÀNG AN LUXURY
                                            là
                                            một trong những khách sạn mới nhất của
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                <div class="card">
                                    <a href=""> <img src="images/item3.jpg" class="img-fluid w-100" alt="..."></a>
                                    <div class="card_header d-flex justify-content-between">
                                        <div class="card_title">
                                            <a href="">
                                                <h6> SPA LÂM ANH</h6>
                                            </a>
                                            <div class="star">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                        </div>
                                        <div class="card_city">
                                            <p>Bình Dương</p>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">Nổi bật trên không gian làng quê yên tĩnh, TRÀNG AN LUXURY
                                            là
                                            một trong những khách sạn mới nhất của
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                <div class="card">
                                    <a href=""> <img src="images/item4.jpg" class="img-fluid w-100" alt="..."></a>
                                    <div class="card_header d-flex justify-content-between">
                                        <div class="card_title">
                                            <a href="">
                                                <h6> SPA LÂM ANH</h6>
                                            </a>
                                            <div class="star">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                        </div>
                                        <div class="card_city">
                                            <p>Bình Dương</p>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">Nổi bật trên không gian làng quê yên tĩnh, TRÀNG AN LUXURY
                                            là
                                            một trong những khách sạn mới nhất của
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                <div class="card">
                                    <a href=""> <img src="images/item5.jpg" class="img-fluid w-100" alt="..."></a>
                                    <div class="card_header d-flex justify-content-between">
                                        <div class="card_title">
                                            <a href="">
                                                <h6> SPA LÂM ANH</h6>
                                            </a>
                                            <div class="star">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                        </div>
                                        <div class="card_city">
                                            <p>Bình Dương</p>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">Nổi bật trên không gian làng quê yên tĩnh, TRÀNG AN LUXURY
                                            là
                                            một trong những khách sạn mới nhất của
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                <div class="card">
                                    <a href=""> <img src="images/item6.jpg" class="img-fluid w-100" alt="..."></a>
                                    <div class="card_header d-flex justify-content-between">
                                        <div class="card_title">
                                            <a href="">
                                                <h6> SPA LÂM ANH</h6>
                                            </a>
                                            <div class="star">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                        </div>
                                        <div class="card_city">
                                            <p>Bình Dương</p>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">Nổi bật trên không gian làng quê yên tĩnh, TRÀNG AN LUXURY
                                            là
                                            một trong những khách sạn mới nhất của
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                <div class="card">
                                    <a href=""> <img src="images/item7.jpg" class="img-fluid w-100" alt="..."></a>
                                    <div class="card_header d-flex justify-content-between">
                                        <div class="card_title">
                                            <a href="">
                                                <h6> SPA LÂM ANH</h6>
                                            </a>
                                            <div class="star">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                        </div>
                                        <div class="card_city">
                                            <p>Bình Dương</p>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">Nổi bật trên không gian làng quê yên tĩnh, TRÀNG AN LUXURY
                                            là
                                            một trong những khách sạn mới nhất của
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                <div class="card">
                                    <a href=""> <img src="images/item8.jpg" class="img-fluid w-100" alt="..."></a>
                                    <div class="card_header d-flex justify-content-between">
                                        <div class="card_title">
                                            <a href="">
                                                <h6> SPA LÂM ANH</h6>
                                            </a>
                                            <div class="star">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                        </div>
                                        <div class="card_city">
                                            <p>Bình Dương</p>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">Nổi bật trên không gian làng quê yên tĩnh, TRÀNG AN LUXURY
                                            là
                                            một trong những khách sạn mới nhất của
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                <div class="card">
                                    <a href=""> <img src="images/item1.jpg" class="img-fluid w-100" alt="..."></a>
                                    <div class="card_header d-flex justify-content-between">
                                        <div class="card_title">
                                            <a href="">
                                                <h6> SPA LÂM ANH</h6>
                                            </a>
                                            <div class="star">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                        </div>
                                        <div class="card_city">
                                            <p>Bình Dương</p>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">Nổi bật trên không gian làng quê yên tĩnh, TRÀNG AN LUXURY
                                            là
                                            một trong những khách sạn mới nhất của
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 mt-3">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="bg-black search">
                                <p class="text-search">TÌM KIẾM</p>
                                <form action="" class="form-search">
                                    <p>Từ khóa</p>
                                    <input type="text" class="form-control" placeholder="Từ khóa...">
                                    <p>Thành phố</p>
                                    <select name="" id="" class="form-select">
                                        <option value="">--Chọn điểm đến--</option>
                                    </select>
                                    <div class="d-flex justify-content-between">
                                        <div class="star">
                                            <p>Rasting</p>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <button type="submit"> <i class="fa fa-search"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-xl-12 quangcao mt-3">
                            <a href=""> <img src="images/quangcao1.jpg" class="img-fluid w-100" alt=""></a>
                        </div>
                        <div class="col-xl-12 quangcao mt-3">
                            <a href=""><img src="images/quangcao2.jpg" class="img-fluid w-100" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="conntainer-fluid">
            <div class="represent">
                <h1 class="text-center represent_title">Spa tiêu biểu</h1>
                <img src="images/icon.png" class="img-fluid mx-auto d-block" alt="">
                <div class="container">
                    <div class="row mt-5">
                        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                            <div class="Representative_item">
                                <div class="Representative_item_img float-start me-4">
                                    <a href=""><img src="images/item9.jpg" class="img-fluid" alt=""></a>
                                </div>
                                <div class="Representative_item_body">
                                    <a href="">
                                        <h6>Spa LuxuryBoss</h6>
                                    </a>
                                    <p>Vũng Tàu</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                            <div class="Representative_item">
                                <div class="Representative_item_img float-start me-4">
                                    <a href=""><img src="images/item10.jpg" class="img-fluid" alt=""></a>
                                </div>
                                <div class="Representative_item_body">
                                    <a href="">
                                        <h6>Spa LuxuryBoss</h6>
                                    </a>
                                    <p>Vũng Tàu</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                            <div class="Representative_item">
                                <div class="Representative_item_img float-start me-4">
                                    <a href=""><img src="images/item11.jpg" class="img-fluid" alt=""></a>
                                </div>
                                <div class="Representative_item_body">
                                    <a href="">
                                        <h6>Spa LuxuryBoss</h6>
                                    </a>
                                    <p>Vũng Tàu</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                            <div class="Representative_item">
                                <div class="Representative_item_img float-start me-4">
                                    <a href=""><img src="images/item12.jpg" class="img-fluid" alt=""></a>
                                </div>
                                <div class="Representative_item_body">
                                    <a href="">
                                        <h6>Spa LuxuryBoss</h6>
                                    </a>
                                    <p>Vũng Tàu</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                            <div class="Representative_item">
                                <div class="Representative_item_img float-start me-4">
                                    <a href=""><img src="images/item9.jpg" class="img-fluid" alt=""></a>
                                </div>
                                <div class="Representative_item_body">
                                    <a href="">
                                        <h6>Spa LuxuryBoss</h6>
                                    </a>
                                    <p>Vũng Tàu</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                            <div class="Representative_item">
                                <div class="Representative_item_img float-start me-4">
                                    <a href=""><img src="images/item14.jpg" class="img-fluid" alt=""></a>
                                </div>
                                <div class="Representative_item_body">
                                    <a href="">
                                        <h6>Spa LuxuryBoss</h6>
                                    </a>
                                    <p>Vũng Tàu</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                            <div class="Representative_item">
                                <div class="Representative_item_img float-start me-4">
                                    <a href=""><img src="images/item15.jpg" class="img-fluid" alt=""></a>
                                </div>
                                <div class="Representative_item_body">
                                    <a href="">
                                        <h6>Spa LuxuryBoss</h6>
                                    </a>
                                    <p>Vũng Tàu</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 col-12 ">
                            <div class="Representative_item">
                                <div class="Representative_item_img float-start me-4">
                                    <a href=""><img src="images/item16.jpg" class="img-fluid" alt=""></a>
                                </div>
                                <div class="Representative_item_body">
                                    <a href="">
                                        <h6>Spa LuxuryBoss</h6>
                                    </a>
                                    <p>Vũng Tàu</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                            <div class="Representative_item">
                                <div class="Representative_item_img float-start me-4">
                                    <a href=""><img src="images/item17.jpg" class="img-fluid" alt=""></a>
                                </div>
                                <div class="Representative_item_body">
                                    <a href="">
                                        <h6>Spa LuxuryBoss</h6>
                                    </a>
                                    <p>Vũng Tàu</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="news">
                <h1 class="new_title text-center pt-3">Tin tức mới nhất</h1>
                <img src="images/icon1.png" class="img-fluid mx-auto d-block" alt="">
                <div class="container">
                    <div class="row pt-4">
                        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                            <div class="new_item">
                                <div class="new_item_image">
                                    <a href="">
                                        <img src="images/item1.jpg" class="img-fluid w-100" alt=""></a>
                                </div>
                                <div class=" new_item_body">
                                    <a href="">
                                        <h6>NỔI BẬT TRÊN KHÔNG GIAN LÀNG QUÊ YÊN TĨNH,</h6>
                                    </a>
                                    <p>là một trong những khách sạn mới nhất của TRÀNG AN LUXURY là một trong những
                                        khách sạn mới nhất của </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                            <div class="new_item">
                                <div class="new_item_image">
                                    <a href="">
                                        <img src="images/item6.jpg" class="img-fluid w-100" alt="">
                                    </a>
                                </div>
                                <div class=" new_item_body">
                                    <a href="">
                                        <h6>NỔI BẬT TRÊN KHÔNG GIAN LÀNG QUÊ YÊN TĨNH,</h6>
                                    </a>
                                    <p>là một trong những khách sạn mới nhất của TRÀNG AN LUXURY là một trong những
                                        khách sạn mới nhất của </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                            <div class="new_item">
                                <div class="new_item_image">
                                    <a href="">
                                        <img src="images/item18.jpg" class="img-fluid w-100" alt="">
                                    </a>
                                </div>
                                <div class=" new_item_body">
                                    <a href="">
                                        <h6>NỔI BẬT TRÊN KHÔNG GIAN LÀNG QUÊ YÊN TĨNH,</h6>
                                    </a>
                                    <p>là một trong những khách sạn mới nhất của TRÀNG AN LUXURY là một trong những
                                        khách sạn mới nhất của </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <a href="" class="new_view_all d-flex justify-content-center"> <button>XEM TẤT CẢ</button></a>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="footer_top">
                <div class="container">
                    <div class="row ">
                        <div class="col-lg-3 col-md-6 col-sm-12 footer_top_page">
                            <h6>Về hotel84.com</h6>
                            <ul>
                                <li><a href="">Trang chủ</a></li>
                                <li><a href=""> Giới thiệu</a></li>
                                <li><a href=""> Điều khoản sử dụng</a></li>
                                <li><a href=""> Thông tin cá nhân</a></li>
                                <li><a href=""> Tin tức công ty</a></li>
                                <li><a href=""> Sitemap</a></li>
                                <li><a href="">Hướng dẫn sử dụng</a></li>
                                <li><a href=""> Liên hệ</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 footer_top_post">
                            <h6>Về hotel84.com</h6>
                            <ul>
                                <li><a href=""> Viết bài PR quảng cáo khách sạn </a></li>
                                <li><a href=""> Tư vấn quảng bá khách sạn</a></li>
                                <li><a href=""> Đặt phòng khách sạn</a></li>
                                <li><a href=""> Đặt phòng du thuyền</a></li>
                                <li><a href=""> Khách sạn tuyển dụng</a></li>
                                <li><a href=""> Thuê xe du lịch</a></li>
                                <li><a href=""> Sản phẩm cho khách sạn</a></li>
                                <li><a href=""> Dịch vụ Quảng cáo Khách sạn</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 footer_top_contact d-flex justify-content-end">
                            <ul>
                                <li><a href="">Quảng bá khách sạn Việt Nam</a></li>
                                <li><a href=""> Địa chỉ: 38B ngách 6/31/5 Đặng Văn Ngữ, Đống Đa, Hà Nội</a></li>
                                <li><a href=""> Tel: 024 39958520 ; Mobile: 0903215458 (không liên hệ đặt phòng ở
                                        đây)</a></li>
                                <li><a href=""> Email: info@hotel84.com</a></li>
                                <li><a href=""> Website khách sạn: http://www.hotel84.com</a></li>
                                <li><a href=""> Website Vietnam hotels: http://www.hotels84.com</a></li>
                                <li><a href=""> Đối tác khách sạn</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer_bottom text-center">
                <p>Địa chỉ: số nhà 38b ngách 6/31/5 Đặng Văn Ngữ, phường Phương Liên, quận Đống Đa,
                    Hà Nội</p>
                <p>
                    Điện thoại: 024 35735928 - 39958520 ; Fax: 024 35735928 ; Di động: 0903215458</p>
                <p>
                    Email: info@hotel84.com ; Website: www.hotel84.com ; www.hotels84.com ; www.vietnamtradefair.com ;
                    www.halongtravelguide.com</p>
                <p>
                    Số ĐKKD: 0103003424; Ngày cấp: 02/1/2004; Giám đốc: Phan Văn Thu</p>
            </div>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="js/main.js"></script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    -->
</body>

</html>