.container-fluid {
margin: 0;
    padding: 0;
   }
@font-face {
    font-family: "fontspa";
    src: url(../fonts/UVNKieu_B.TTF);
  }
.breacumb nav ol li a{
    color: #333333;
    font-size: 14px;
    font-family: "Arial";
    padding-right: 0px;
}
.breacumb nav ol li a:first-child{
    text-decoration: none;
}
a{
    text-decoration: none;
}
/*Tin tức */
.content{
position: relative;
}
.content_main{
    background-image: url('../images/content_background.png');
    position: absolute;
    bottom: 0;
    padding: 20px 20px 0px 20px;
}
.content_main h6{
    color: #ffb628;
    font-size: 18px;
    font-family: "Myriad Pro";
}
.content_main p{
    color: #fdfbfb;
    font-size: 14px;
    font-family: "Arial";
}
.news .new_title{
    color: #7b0200;
    font-size: 50px;
    font-family: "fontspa";
}
/*new-item*/
.new_item{
    margin-bottom: 25px;
}
.new_item-title{
    font-size: 18px;
    font-family: "Roboto";
    color: #7b0200;
    font-weight: 400;
}
.new_item-star{
    font-size: 12px;
    color: #ffda78;
}
.new_item-city{
color: #333333;
font-size: 14px;
font-family: 'Arial';
}
.new_item-content{
    color: #333333;
    font-size: 13px;
    font-family: 'Arial'; 
    line-height: 25px;
}
.new_item-time{
    color: #999999;
    font-size: 14px;
    font-family: 'Arial'; 
}
/*phân trang*/

.pagination a{
    background-color: #660000;
    color: #ffcc33;
    text-align: center;
    margin-right: 10px;
}
.pagination a:hover{
    background-color:#e1e1e1 ;
    color: #82110f;
}
.pagination strong{
    background-color:#e1e1e1 ;
    color: #82110f;
    margin-right: 10px;
}
/*form*/
nav .nav-tabs{
margin-top: 4px;
}
nav .nav-tabs li{
margin-right: 10px;
}
nav .nav-tabs li a{
color: #333333;
font-size: 14px;
font-family: 'Arial';
}
nav .nav-tabs li .active{
font-weight: bold;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
border: 1px solid #dee2e6;

}
.search{
padding: 5px 5px 0px 5px;
}
.search .text-search{
background: #ffb628;
padding: 5px ;
text-align: center;
font-family: 'Myriad Pro';
font-size: 14px;
color: #000000;
margin: 0;
}
.form-search{
padding: 10px 10px ;
}
.form-search p{
font-size: 14px;
font-family: 'Roboto';
color: #ffb628;
margin: 0;
}
.form-search .form-control{
border-radius: 0;
border: none;
margin-bottom:15px ;
}
.form-search .form-select{
border-radius: 0;
margin-bottom:15px ;
}
.form-search .star{
font-size: 12px;
color: #fecd45;
}
.form-search .star i:last-child{
color: #999999;
}
.form-search button[type="submit"]{
background: #ffb628;
border: none;
padding: 0px 20px;
height: 30px;
margin-top: 6px;
}
.form-search button[type="submit"] i{
font-size: 14px;
}
/*Chủ đề*/
.topic{
    padding: 5px 5px 0px 5px;
}
.topic_tiem{
    margin-bottom: 10px;
}
.topic .topic_latest{
    font-size: 14px ;
    font-family: "Roboto";
color: #000000;
background-color: #ffb628;
text-align: center;
padding: 5px 0;
}
.topic_item-body a{
text-decoration: none;
}
.topic_item-body a h6{
    font-size: 14px;
    color: #fdfbfb;
    font-family: "Myriad Pro";
    font-weight: bold;
}
.topic_item-body p{
    font-size: 14px;
    color: #707070;
}
@media screen and (max-width: 767px) {
.content .content_main h6{
font-size: 10px;
}
.content .content_main p{
font-size: 12px;
}
.new_item-img{
   margin-bottom: 210px;
}
}
@media screen and (max-width: 991px) {
    .main-menu {
    display:none;
    }
   .nav ul li{
    display: block;
    padding-bottom: 20px;
    }
    .toggle{
    display:block;
    }
    .nav ul li::after{
    content: '';
    }
    .new_view_all button{
    padding: 10px 50px;
    }
    .header_logo{
        margin: 0 auto;
         width: 25%;
     }
     .nav_pc{
         display: none;
     }
}
  @media (max-width: 1025px){
.tab-hr{
display: none;
}
.footer_top .justify-content-end{
justify-content:start !important;
}
.pagination{
    display: flex;
    justify-content: center;
}
  }

  @media screen and (min-width: 767px) {
    .toggle span {
        position: absolute;
        left: 43%;
    }
}